/*----------------------------------------------------------------------------
	colorscheme.css for colorscheme 1

	this css-file contains all definitions, that depend on the colorscheme.

	(c) Schlund + Partner AG
----------------------------------------------------------------------------*/

/*-- main container --------------------------------------------------------*/

#container {
    background-color: #FFFFFF;
}

/*--- header ---------------------------------------------------------------*/

#header {
    background-color: #FFFFFF;
}

/*--- key visiual ----------------------------------------------------------*/

#key_visual {
    background: no-repeat;
}

/*--- logo -----------------------------------------------------------------*/

#logo {
    background: no-repeat top right;
}

/*--- caption --------------------------------------------------------------*/

/*--- main navigation ------------------------------------------------------*/

#main_nav_container {
    background: top right no-repeat;
    background-image: url(images/static/menubg.gif);
    background-color: #182F50;
}

/*--- main navigation items ------------------------------------------------*/

a.main_nav_item {
    background: no-repeat;
    background-position: top right;
}

a.main_nav_item:hover {
    background: no-repeat;
    background-position: top right;
}

a.main_nav_active_item {
    background: no-repeat;
    background-position: top right;
}

/*--- subnavigation items --------------------------------------------------*/

.sub_nav_container {
    /*background : url(images/static/submenubg.gif) repeat-x;*/

}

a.sub_nav_item {
    background: no-repeat;
}

a.sub_nav_item:hover {
    background: no-repeat;
}

a.sub_nav_active_item {
    background: no-repeat;
}

/*--- footer ---------------------------------------------------------------*/

#footer {
    background: transparent top right no-repeat;
    background-image: url(images/static/footerbg.gif);
    background-color: #AEB8B2;
}

/*----------------------------------------------------------------------------
  default-styles for html-elements
----------------------------------------------------------------------------*/

/*--- body -----------------------------------------------------------------*/

body#main_body {
    background-color: #FFFFFF;
}

/*--- paragraph ------------------------------------------------------------*/

.content {
    color: #4C4C4D;
}

.content table {
    color: #4C4C4D;
    border-color: #182F50;
}

.content select {
    color: #4C4C4D;
}

.content input {
    color: #4C4C4D;
    border-color: #B4B8BB;
}

.content textarea {
    color: #4C4C4D;
    border-color: #B4B8BB;
}

/*--- headings -------------------------------------------------------------*/

/*--- links ----------------------------------------------------------------*/

/*--- tables ---------------------------------------------------------------*/

.content th {
    color: #ffffff;
    background-color: #182F50;
    border-color: #182F50;
}

.content td {
    border-color: #182F50;
}

.content tr.odd {
    color: #6E6E6E;
    background-color: #FFFFFF;
}

.content tr.even {
    color: #6E6E6E;
    background-color: #CAD0CD;
}

/*--- forms ----------------------------------------------------------------*/

.content fieldset {
    border-color: #182F50;
}

.content legend {
    color: #74777A;
}

.content label {
    color: #74777A;
}

.content #submit {
    background-color: #ffffff;
    border-color: #B4B8BB;
    color: #74777A;
}

/*--------------------------------------------------------------------------*/

#sub_nav_column {
    background: transparent bottom right no-repeat;
    background-image: url(http://kartika-mediani.com/colorschemes/colorscheme6/images/static/list.gif);
}

#weblog_calendar caption {
    color: #ffffff;
    background-color: #182F50;
    border-color: #182F50;
}

